

<div class="container">
  <h1> These are your next bookings: </h1>
  <div class="row">
    <div class="cards-index">
      <% @bookings.each do |booking| %>
        <%= link_to product_path(booking.product) do %>
        <div class="col-xs-12">
          <div class="card-index">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= booking.product.photo %>')">
              <div class="card-category">
                <p>Italian</p>
              </div>
              <div class="card-avatar">
                <%= image_tag(('chef.jpg'), class:"avatar-large") %>
              </div>
              <div class="card-desc">
                <p><strong>Sergio's specialty</strong></p>
                <p><%= booking.product.name %></p>
              </div>
              <div class="card-header">
                <div class="card-rating">
                  <i class="fas fa-star gold"></i>
                  <i class="fas fa-star gold"></i>
                  <i class="fas fa-star gold"></i>
                  <i class="fas fa-star gold"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
