<div class="container">
      <h1>Best Chefs around you</h1>
      <p>Discover the best Chefs around you to cook at your home</p>
      <form action="">
        <div class="form-group">
          <label for="location">Where?</label>
          <input type="location" id="location" placeholder="Paris" class= form-control>
        </div>
        <div class="form-group">
          <label for="food-type">Which food?</label>
          <select id="food-type" name="food-type" class=form-control>
          <option value="italian">Italian</option>
          <option value="mexican">Mexican</option>
          <option value="french">French</option>
          <option value="indian">Indian</option>
          <option value="chinese">Chinese</option>
          <option value="japanese">Japanese</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date">When?</label>
          <input type="date" id="date" placeholder="Saturday 02 March 2019" class= form-control>
        </div>
        <div class="form-group">
          <label for="number-people">How many people?</label>
          <input type="number-people" id="number-people" placeholder="2" class= form-control>
        </div>
        <input type="submit" value="Search, I'm hungry" class="btn btn-primary">
      </form>


</div>


