<div class="banner-landpage">
  <div class="banner-content">
    <%= render 'shared/search-form' %>

    <%= video_tag "video", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

  </div>
</div>
