<div class="main-container">
  <div class="banner-landpage">
    <div class="banner-content">
      <%= render 'shared/search-form' %>

      <%= cl_video_tag ("video"), :autoplay => true, loop: :loop, mute: :mute, class: "video" %>

    </div>
  </div>
</div>
