/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: left;
  color: white;
  position: absolute;
  width: 100vh;
}
.alert-info {
  background: #00B434;
}
.alert-warning {
  background: $red;
}
