.banner {
  display: flex;
  background-image:
    linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 50%),
    url('../../images/background.jpg');
    color: white;
    background-size: cover;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.banner h1 {
  font-size: 3em;

}

.banner p {
    font-size: 25px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.banner-content {
  text-align: center;
}


.text-center {
  text-align: center;
}


