#coeur {
  color: pink;
}


.flex-booking {
  display: flex;
}

#review_rating {
    width: 50px;
    margin-right: 15px;
}

#new_review {
  display:inline-flex;;
}

.btn-sm {
  margin: auto 15px;
  margin-top: 29px;
}
