
.sign-in {
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 18px;
  font-weight: bold;
}

.sign-in:hover {
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover {
  text-decoration: none;
}


.btn-accpt {
  color: #fff;
  background-color: #469AE0;
  border-color: #308edc;
  width: 80px;
  padding: 2px;
}
