.footer {
  background-color: black;
  color: white;
  clear: both;
  height: 50px;
  text-align: center;
}

.footer a {
  color:white;
  opacity: 0.5;
}


.extension {
  height: calc(100vh - 115px);
}
