.container-new-meal {
color:white;
padding-bottom: 20px;
}

.container-new-meal h1 {
  font-size: 30px;
}

.form-control {
  opacity: 0.7;
}

.form-control-label {
  font-style: italic;
  font-size: 15px;
}

