container-new-meal {
  margin: 50px;
}

.container {
color:white;
}

.container h1 {
  font-size: 30px;
}

.form-control {
  opacity: 0.7;
}

.form-control-label {
  font-style: italic;
  font-size: 15px;
}
