.wrapper-index{
  background: #3079AB;
  color: white;
  padding: 2em 0;
  padding: 20px;
  text-align: center;
  position: relative;
}


.text-center {
  text-align: center;
}

.container-index {
justify-content: space-between;
}

.search {
  margin-top: 29px;
}
