.wrapper-index{
  background: #3079AB;
  color: white;
  padding: 2em 0;
  padding: 20px;
  text-align: center;
}


.text-center {
  text-align: center;
}

.container-index {
justify-content: space-between;
margin-top: 50px;

}

.search {
  margin-top: 29px;
}

.wrapper-index-index{
  background-color: red;
  color: white;
  padding: 2em 0;
  padding: 20px;
  text-align: center;
}
