.head-show {
   display: flex;
  background-image:
    linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 50%),
    url('../../images/background.jpg');
    color: white;
    background-size: cover;
    height: 60vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.rate-show {
  display: flex;
  justify-content: center;
}


.prof-show {
  display: block;
  position: relative;
}

.name-chef-show {
  position: absolute;
  bottom: 17px;
  left: 170px;
}

.avatar-show {
  border-radius: 50%;
  border: 1px solid black;
  position:absolute;
  bottom: 40px;
}

.container-show {
  width: 800px;
  margin: 20px auto;
}

@media (max-width: 650px) {
  .conts {
    display: block;
  }
}
