.back-show {
height: 100%;
color:white;
padding-bottom: 20px;
}


.head-show {
   display: flex;
    color: white;
    background-size: cover;
    height: 60vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(20,20,20,0.2);
}

.review-form-show{
  margin: 12% auto;
  width:90%;
}


.rate-show {
  display: flex;
  justify-content: center;
}

.rate-show,p {
    margin: -7px 0 12.5px;

}


.prof-show {
  display: block;
  position: relative;
  bottom: -60px;
  margin-left: 5%;
}

.name-chef-show {
  position: absolute;
  bottom: 0px;
  left: 170px;
  margin-left: 10px;
}

.avatar-show {
  border-radius: 50%;
  border: 1px solid rgba(20,20,20,0.9);
  position:absolute;
  bottom: 40px;
}

.container-show {
  width: 900px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(20,20,20,0.1);
}

.price-show {
  text-align: center;
  padding: 5px;
  position: absolute;
  right: 10%;
  background-color: rgba(20,20,20,0.6);
  border-radius: 20px;
}

.boncommande {
  width: 360px;
  background-color: rgba(230,230,230,0.6);
  position: absolute;
  right: 5%;
  top: -40px;
  border-radius: 5px;
  padding: 2%;
  margin: 3px;
}

.description-show {
  width: 360px;
  margin-left: 5%;
}

@media (max-width: 850px) {

  .prof-show {
    margin: 0px auto;
  display: block;
  position: relative;
  bottom: -120px;
}

 .boncommande {
    top: 80px;
    margin: 0px auto;
    position: relative;
    width: 80%;
  }

.name-chef-show {
  position: absolute;
  bottom: 60px;
  left: 170px;
  margin-left: 10px;
}

.avatar-show {
  margin: 0px auto;
  border-radius: 50%;
  border: 1px solid rgba(20,20,20,0.9);

  bottom: 100px;
}

.contact-show {
  position: absolute;
  top: -90px
}

}
